.button {
    font-size: .9em;
    max-width: 100px;
    color: #575757;
    border: 1px solid #000;
    padding: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.button svg {
    font-size: 1.5em;
    padding-right: 5px;
}