.cardContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-height: 220px;
    width: 250px;
    padding: 15px;
    border: 1px solid #575757;
    color: #575757;
    border-radius: 5px;
    box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.300);
}

.cardContainer h2 {
    color: orange;
    background: #222;
    padding: 7px;
}

.cardContainer span {
    font-weight: bold;
}

.cardCategory {
    display: flex;
    align-items: center;
}

.cardCategory span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    margin-right: 5px;
}

.cardCategory .infra {
    background: #ffaebc;
}

.cardCategory .desenvolvimento {
    background: #a0e7e5;
}

.cardCategory .design {
    background: #b4f8c8;
}

.cardCategory .planejamento {
    background: #fbe7c6;
}

.cardButtons {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}

button:hover {
    background: #222;
    color: #ffbb33;
    transition: 0.5s;
}