.formContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.formContainer label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.formContainer input, select {
    font-size: 1em;
    color: gray;
    padding: 10px;
}

.formContainer input[type=submit] {
    background: #000;
    border: none;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
}