.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: #000;
}

.headerContainer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}