.main {
    margin: 40px 40px 40px 80px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.main h1 {
    color: #fb3;
    background: #222;
    padding: 15px;
}

.main span {
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid #222;
}